fastapi[standard]
pydantic
pytest
pytest-asyncio
httpx
uvicorn
sqlalchemy
pydantic-extra-types
phonenumbers
setuptools
pytest-freezegun
aiosqlite #for async access to sqlite databases
asyncpg #for async access to postgresql databases
sqlalchemy[asyncio]
pydantic-settings
asyncpg
starlette